.DS_Store
*.so.*
*.tar.gz
*.egg-info*

*.ttf
*.jpg


# compilation and distribution
__pycache__
_ext
*.pyc
*.so
detectron2.egg-info/
pointnet2.egg-info/
bop_toolkit_lib.egg-info/
build/
dist/
output/
datasets/
.cache/

# pytorch/python/numpy formats
#*.pth
#*.pkl
*.npy
*.engine
*.onnx
events.out.tfevents*

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project dirs
/models

#external/*